
.toubu{padding:0;}
body{
    margin:0;
    padding:0
}
.toubu{
    width: 100vmin;
    height: 100vmin;
    margin-left: 1%;
    margin-top: 1%;
    display: block;

}
.a{
    float: left;
        margin:1%;
    width:  30%;
    height:30%;
    background-color:orange;
    border-radius: 15%;

}
.b{
    float: left;
        margin:1%;
    width:30%;
    height: 30%;
    background-color:orange;
    border-radius: 15%;

}
.c{
    float: left;

    width:30%;
    height: 30%;
    background-color:orange;
    border-radius: 15%;
    margin: 1%;
}

.d{
    float: left;
    margin:1%;
    width:30%;
    height: 30%;
    background-color:orange;
    border-radius: 15%;
}
.e{
    float: left;
    margin:1%;
    width:30%;
    height: 30%;
    background-color:orange;
    border-radius: 15%;
}
.f{
    float: left;
    margin:1%;
    width:30%;
    height: 30%;
    background-color:orange;
    border-radius: 15%;
}
.g{
    float: left;
    margin:1%;
    width:30%;
    height: 30%;
    background-color:orange;
    border-radius: 15%;
}
.h{
    float: left;
    margin:1%;
    width:30%;
    height: 30%;
    background-color:orange;
    border-radius: 15%;
}
.i{
    float: left;
    margin:1%;
    width:30%;
    height: 30%;
    background-color:orange;
    border-radius: 15%;
}
